.castList {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.castMember {
    display: flex;
    gap: 25px;
    padding-right: 15px;
    
    border: 1px solid var(--dark-text-color);
    border-radius: 4px;

    width: calc((100% - 90px) / 3);
    min-width: 320px;
}

.name {
    margin: 20px 0;
    color: var(--title-text-color);
    font-size: 22px;
    font-weight: 500;
}

.character {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--dark-text-color);
}

.characterName {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--main-text-color);
}