.item {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
}

.item:first-child {
    margin-top: 0;
}

.icon {
    display: inline;
    margin-right: 13px;
    color: var(--main-accent-color);
}

.link {
    text-decoration: none;
    color: var(--main-text-color);
    transition: color 500ms ease;
}

.link:hover,
.link:focus {
    color: var(--main-accent-color);
}