.reviewsList {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.review {
    padding: 15px;
    
    border: 1px solid var(--dark-text-color);
    border-radius: 4px;
    
    width: calc((100% - 90px) / 2);
    min-width: 320px;
}

.author {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--title-text-color);
    font-size: 22px;
    font-weight: 500;
}

.content {
    margin: 0;
    font-size: 18px;
    color: var(--main-text-color);
}

.empty {
    margin: 20px 0;
    color: var(--title-text-color);
    font-size: 22px;
    font-weight: 500;
}