.searchForm {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;

    display: flex;
    justify-content: center;
}

.input {
    width: 250px;
    padding: 7px;

    border: 1px solid var(--main-accent-color);
    border-radius: 4px;
}

.buttonIcon {
    margin-right: 5px;
}

.button {
    padding: 7px 15px;
    margin-left: 15px;
    background-color: var(--main-accent-color);
    color: var(--light-bg-color);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms ease,
    background-color 250ms ease,
    border 250ms ease;
}

.button:hover,
.button:focus {
    background-color: var(--light-bg-color);
    color: var(--dark-text-color);
    border: 1px solid var(--dark-text-color);
}