@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg-color: #E9E9E9;
  --main-text-color: #000;
  --title-text-color: #B92009;
  --dark-bg-color: #000;
  --dark-text-color: #390800;
  --light-text-color: #E9E9E9;
  --main-accent-color: #B92009;
  --secondary-accent-color: #E81F00;
}
