.title {
    text-align: center;
    font-size: 48px;
    color: darkgreen;
}

.description {
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
}

.link {
    color: darkgreen;
}

.link:hover,
.link:focus {
    color: rgb(140, 173, 83);
    text-decoration: none;
}